.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.buttons{
    border: #EBF4F6 solid;
    background-color: #EBF4F6;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
}

.submit {
    background-color: #007bff;
    width: 80%;
    /* Primary button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.submit:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}