.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Adjust height as needed */
}

.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #37B7C3;
    /* Light background color */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Shadow for depth */
    height: auto;
    width: 400px;
    /* Fixed width */
}

.auth-text {
    margin-bottom: 20px;
    /* Space below the heading */
}

.auth-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.gender-options {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* Adjust as needed for spacing between options */
}

.gender-options label {
    display: flex;

}

.gender-options input[type="radio"] {
    margin-right: 5px;
    /* Adjust spacing between radio button and label text */
}

.submit {
    background-color: #007bff;
    /* Primary button color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;

}

.submit:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}